/**
 * @file
 * Component Layout CSS and some Page layout overrides
 */

.l-header {
  position: relative;
  margin: 0 0 4rem;
}

.layout .l-messages {
  margin: 0 0 2rem;
}

.l-sidebar .block {
  margin: 0 0 2rem;
}

.l-sidebar iframe {
  width: 100%;
}

.layout--has-top-background .l-header {
  margin-bottom: 0;
}

.layout--has-top-background .l-top {
  padding-top: 1em;
  padding-bottom: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
