# OS and IDE files.
/.idea
.DS_Store

# Ignore the private files directory.
private-files

# Ignore developer modules
modules/contrib/devel

# Backups.
*.sql
*.sql.gz
*.tgz
*.tar
*.tar.gz

# Ignore libs.
# 2022-11-04 Can't ignore vendor directories, CiviCRM uses these
# vendor

# Ignore env vars.
.env
