# OS and IDE files.
/.idea
.DS_Store

# Ignore the private files directory.
private-files

# Ignore developer modules
modules/contrib/devel

# Backups.
*.sql
*.sql.gz
*.tgz
*.tar
*.tar.gz

# Ignore env vars.
.env
