/*******************************************************************************
 * Front-end only
 ******************************************************************************/

/* Clearfix for all regions. */
.layout--drawer .l-main-wrapper:after,
.layout--drawer .l-footer:after,
.layout--drawer .l-container:after,
.layout--drawer .l-content:after,
.layout--drawer .l-sidebar:after,
.layout--drawer .l-drawer:after {
  content: "";
  display: table;
  clear: both;
}

.layout--drawer .l-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  text-align: center;
}
.layout--drawer .l-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.layout--drawer .l-content-inner {
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.layout--drawer .l-sidebar,
.layout--drawer .l-drawer {
  text-align: left;
}

.layout--drawer .l-footer {
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}

@media all and (min-width: 851px) {
  .layout--drawer .l-sidebar,
  .layout--drawer .l-drawer {
    display: inline;
    float: right; /* LTR */
    position: relative;
  }
  [dir="rtl"] .layout--drawer .l-sidebar,
  [dir="rtl"] .layout--drawer .l-drawer {
    float: left;
  }

  /* Two Sidebars */
  .layout--drawer.layout-both-sidebars .l-container {
    padding-left: 470px;
  }
  [dir="rtl"] .layout--drawer.layout-both-sidebars .l-container {
    padding-left: 0;
    padding-right: 470px;
  }

  /* One Sidebar */
  .layout--drawer.layout-one-sidebar .l-container {
    padding-left: 235px;
  }
  [dir="rtl"] .layout--drawer.layout-one-sidebar .l-container {
    padding-left: 0;
    padding-right: 235px;
  }

  .layout--drawer .l-sidebar {
    width: 235px;
    height: 100%;
    width: 235px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }
  [dir="rtl"] .layout--drawer .l-sidebar {
    right: 0;
  }

  .layout--drawer .l-drawer {
    width: 235px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 235px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
  }
  [dir="rtl"] .layout--drawer .l-drawer {
    right: 235px;
  }
}

/**
 * @file
 * CSS for the two column layout.
 */

/*******************************************************************************
 * Admin only CSS
 ******************************************************************************/

#layout-edit-main .layout--drawer .l-container {
  padding: 0;
}

#layout-edit-main .layout--drawer .l-content {
  position: relative;
  float: right;
  width: 50%;
  padding: 0;
}

#layout-edit-main .layout--drawer .l-sidebar {
  position: relative;
  float: left;
  width: 25%;
}
#layout-edit-main .l-drawer {
  position: relative;
  float: left;
  width: 25%;
  margin: 0;
  left: 0;
}

.layout-editor-region {
  padding: 0 10px;
}
