.l-top__wrapper {
  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  @media (min-width: 75em) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
