body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body.admin-menu {
  margin-top: 0 !important;
}

p {
  font-size:100%;
}

#main-wrapper {
  overflow: hidden;
}

#page {
  position: relative;
  text-align: left;
  height: 100%;
}

#main {
  position: relative;
  padding-bottom: 125px;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

#content {
  margin: 48px 24px;
}
#sidebar {
  width: 100%;
  z-index: 2;
}
#drawer {
  width: 100%;
  overflow: auto;
  z-index: 1;
  display: none;

  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#drawer.open {
  display: block;
}
/* Desktop drawer behavior */
@media (min-width: 1024px) {
  #main-wrapper {
    margin-left: 300px;
    text-align: center;

    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
  }
  #main-wrapper.drawer-open {
    margin-left: 600px;
  }
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
  }
  #drawer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    z-index: 1;

    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  /* Because animations can't happen at the same time as hiding/showing. We have
     classes for both open and closed. */
  #drawer.open {
    left: 300px;
  }
}

span.nolink {
  font-size:180%;
  font-weight:800;
  letter-spacing: -.07em;
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 125px;
}

/*.section {
  padding: 50px 35px;
}
#sidebar .section {
	padding-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 25px;
}*/
