body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#sidebar {
  background-color: #000;
  color: #fff;
}
#sidebar a {
  color: #fff;
}

#site-name {
  font-size: 35px;
  line-height: 250px;
  height: 250px;
  margin: 0 -10px;
  text-align: center;
}

#main-menu ul {
  padding: 0;
  width: 100%
}
#main-menu li {
  list-style-type: none;
  padding: 0 0 0 15px;
  border-bottom: 2px solid #fff;
}
#main-menu li.first {
  border-top: 2px solid #fff;
}
#main-menu a {
  display: inline-block;
  padding: 8px 10px;
  width: 265px;
  position: relative;
}
#main-menu i {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}
#main-menu li.active i,
#main-menu li.active-trail i {
  color: #149EEC;
}
#main-menu a {
  font-size: 24px;
  line-height: 36px;
}

#drawer {
  background-color: #ccc;
  color: #000;
}
#drawer span {
  display: block;
  padding: 10px 0;
}
#drawer ul.menu {
  padding: 0;
  width: 100%;
}
#drawer ul.menu li {
  list-style-type: none;
  padding: 10px 0;
  font-weight: 500;
}
#drawer a {
  font-weight: 300;
}

/* non-links are special */
li.menu-317,
li.menu-358,
li.menu-319 {
  border-bottom: 2px solid #000;
}

#main {
  font-weight: 300;
}

.book-navigation {
  margin-top: 50px;
}

/* blocks */
#block-block-2 {
  width: 300px;
  margin: 0 auto;
}
#block-block-2 p.subtext {
  text-align: right;
}

/* classes */
a.button {
  display: block;
  background-color: rgba(216, 216, 216, 0.11);
  border: 1px solid #979797;
  height: 50px;
  margin: 10px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
}
a.button span {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  color: #fff;
  background-color: #979797;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.subtext {
  font-size: 12px;
  font-weight: 400;
  color: #969595;
}

/* home page */
body.front #page-title {
  font-size: 105px;
  line-height: 102px;
  margin: 65px 0 0 0;
}
body.front .node .content {
  font-size: 23px;
  line-height: 31px;
}

/* quotes view */
.view-quotes {
  margin-top: 100px;
}
.view-quotes img {
  float: left;
  margin-right: 15px;
}
.view-quotes blockquote {
  margin-left: 125px;
  font-size: 25px;
}
.view-quotes .subtext {
  margin: 5px 0;
}

/* semantic versioning handbook page */
.version-number {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
}
.version-number span {
  display: inline-block;
  width: 28%;
}
.version-explaination {
  margin: 0 auto;
  text-align: center;
}
.version-explaination span {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 29%;
}

/**
 * Tabs.
 */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/* HTML elements */
a {
  color: #149EEC;
  text-decoration: none;
}
blockquote {
  font-style: italic;
  min-height: 100px;
  margin: 0;
}
blockquote p {
  margin: 0;
}
