body {
  font-family: 'Open Sans', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px; 
}

p {
  font-size: 110%;
  line-height: 140%;
}

#sidebar {
  background-color: #000;
  color: #fff;
}
#sidebar a {
  color: #fff;
}

#site-name {
  font-size: 240%;
  line-height: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -.03em;
}

#main-menu ul {
  padding: 0;
  width: 100%
}
#main-menu li {
  list-style-type: none;
  padding: 0 10px 0 15px;
  border-bottom: 2px solid #fff;
}
#main-menu li.first {
  border-top: 2px solid #fff;
}
#main-menu a {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  position: relative;
}
#main-menu i {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}
#main-menu li.active i,
#main-menu li.active-trail i {
  color: #149EEC;
}
#main-menu a {
  font-size: 24px;
  line-height: 36px;
}

#main-menu a:hover {
  color: #45B6F5;
  
}

.region-sidebar-second {
  padding: 30px;
  border-top: 2px solid #979797;
}

#main-menu.navigation{
  margin-top:-17px;
}
#drawer {
  border-right: 2px solid #979797;
  background-color: #F7F7F7;
  color: #000;
}
#drawer span {
  display: block;
  padding: 10px 0;
}
#drawer ul.menu {
  padding: 0;
  width: 100%;
}
#drawer ul.menu li {
  list-style-type: none;
  padding: 7px 0;
  /*font-weight: 500;*/
}
#drawer a {
  
}

#handbook-menu ul.menu li.first.expanded{
  border-top: 0;
  padding: 0 30px;
}

#handbook-menu ul.menu li.expanded{
  border-top: solid 2px #979797;
  padding: 0 30px;
  margin-top:30px;
}

#handbook-menu ul.menu li.expanded span{
  padding: 30px 0 10px 0;
}

#handbook-menu ul.menu li.first.expanded span{
  padding: 0px 0 10px 0;
}

/* non-links are special */
li.menu-317,
li.menu-358,
li.menu-319 {
  border-bottom: 2px solid #000;
}

#main {
  margin-top: 120px;
}
#footer {
  padding-top: 50px;
}
#footer a {
  color: #979797;
}
#footer a:hover {
  color: #149EEC;
}


.book-navigation {
  margin-top: 50px;
}

/* blocks */
#block-block-1 {
  float: left;
  width: 175px;
  margin-right: 25px;
}
#block-block-2 {
  float: left;
  width: 330px;
  margin-right: 25px;
}
#block-block-2 p.subtext {
  text-align: right;
}

/* classes */
a.button {
  display: block;
  background-color: rgba(216, 216, 216, 0.11);
  border: 1px solid #979797;
  height: 50px;
  margin: 10px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}
a.button span {
  display: block;
  position: absolute;
  top: -13px;
  right: -13px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  color: #fff;
  background-color: #979797;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.subtext {
  font-size: 80%;
  font-weight: 400;
  color: #969595;
}

/* home page */
body.front #page-title {
  font-size: 250%;
  line-height: 100%;
  margin: .5em 0;
}
@media (min-width: 768px) {
  body.front #page-title {
    font-size: 550%;
  }
}
body.front .node .content {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 768px) {
  body.front .node .content {
    font-size: 23px;
    line-height: 31px;
  }
}

/* quotes view */
#block-views-quotes-block {
  clear: both;
  padding-top: 100px;
}
.view-quotes {
  padding: 100px 0;
  background-color: #F7F7F7;
  margin-left: -500px;
  margin-right: -500px;
  padding: 50px 500px;
}
.view-quotes img {
  float: left;
  margin-right: 15px;
}
.view-quotes blockquote {
  margin-left: 125px;
  font-size: 125%;
}
.view-quotes .subtext {
  margin: 5px 0;
}
.view-quotes .views-field-title {
  margin-top: 5px;
}

/* semantic versioning handbook page */
.version-number {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
}
.version-number span {
  display: inline-block;
  width: 28%;
}
.version-explaination {
  margin: 0 auto;
  text-align: center;
}
.version-explaination span {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 29%;
}
/* donate page */
.donate-right {
  float: right;
  margin-top: -10px;
}

/* on the web block */
.block-on-the-web a i {
  width: 35px;
  height: 35px;
  font-size: 35px;
  line-height: 35px;
  margin: 10px 5px;
  color: rgb(151, 151, 151);
}
.block-on-the-web a:hover i {
  color: #149EEC;
}

/**
 * Tabs.
 */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/* HTML elements */
a {
  color: #149EEC;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  margin: .75em 0;
}
ul li, ol li {
  margin: 5px 0;
}
input {
  padding: 4px 8px;
  font-size: 75%;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  background-color: #fff;
}
input[type="submit"]:hover {
  background-color: #ebebeb;
  border-color: #adadad;
}
#mce-EMAIL {
  margin-right: 5px;
}
blockquote {
  font-style: italic;
  min-height: 100px;
  margin: 0;
}
blockquote p {
  margin: 0;
}
figure {
  margin: 0 25px;
}
figcaption {
  margin-top: 5px;
  color: #969595;
  font-size: 80%;
}

code,
div.codeblock {
  margin: 10px 0;
  font-size: 85%;
}
div.indent {
  margin: 0 25px;
}

#page-title {
  font-size: 280%;
  letter-spacing: -.04em;
}
@media (min-width: 768px) {
  #page-title {
    margin-top: 75px;
  }
}

#block-views-supporters-block {
  margin: 100px 0;
}
#block-views-supporters-block h2,
#block-formblock-supporter h2 {
  text-align: center;
  font-weight: normal;
  color: #999999;
}
.view-supporters {
  text-align: center;
}
.view-supporters .view-content {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  min-height: 150px;
}
.view-supporters .views-row {
  float: left;
  margin-right: 10px;
  width: 120px;
  min-height: 150px;
  font-size: 12px;
}
.views-field-field-logo a {
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.views-field-field-logo img {
  display: inline-block;
  vertical-align: middle;
}
.views-field-field-logo .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#block-formblock-supporter {
  clear: left;
  margin-top: 50px;
  background-color: #F7F7F7;
  margin-left: -500px;
  margin-right: -500px;
  padding: 50px 500px;
}
#block-formblock-supporter label {
  color: #999999;
}
#block-formblock-supporter .description {
  display: none;
}
#block-formblock-supporter .form-item .form-item {
  margin: 0;
}
#block-formblock-supporter .form-actions {
  text-align: center;
}
