# Ignore this file so it can be changed
.gitignore

# Ignore the ssl .well-known
.well-known

# Ignore configuration files that may contain sensitive information.
settings.local.php
sites/*/settings.local.php

# Ignore paths that contain user-generated content.
files
private
sites/*/files
sites/*/private
