/*******************************************************************************
 * borg-components.css
 *
 * Contains styles for all self-contained components on the backdropcms.org site.
 ******************************************************************************/


/*******************************************************************************
 * Custom tagline block.
 ******************************************************************************/
.block-borg-blocks-tagline {
  text-align: center;
  padding-top: 30px;
}
.block-borg-blocks-tagline h2 {
  font-weight: 300;
  margin: 0 0 .5em 0;
}
.block-borg-blocks-tagline .tagline-section {
  text-align: left;
  margin: 15px auto;
  max-width: 315px;
}
.block-borg-blocks-tagline a.button {
  font-size: 1.25rem; /* 20px */
  background-color: rgba(255, 255, 255, .3);
  text-transform: none;
  border: 2px solid #000;
  color: #000;
  margin: 10px 5px 5px 0;
}
.block-borg-blocks-tagline a.button:hover {
  background-color: rgba(255, 255, 255, .6);
}
.block-borg-blocks-tagline a.button span.version {
  font-size: 1rem; /* 16px */
}
.block-borg-blocks-tagline .subtext {
  font-size: 1rem; /* 16px */
  margin-top: 0;
  margin-left: 25px;
}
.block-borg-blocks-tagline .subtext a {
  font-weight: 300;
  color: #fff;
  text-decoration: underline;
}
.block-borg-blocks-tagline .subtext a:hover {
  text-decoration: none;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .block-borg-blocks-tagline .subtext {
    text-align: left;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .block-borg-blocks-tagline {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .block-borg-blocks-tagline h2 {
    margin: 0 0 1em 0;
  }
  .block-borg-blocks-tagline .block-content {
    background: transparent url('../images/screens.png') bottom center no-repeat;
    background-size: 720px;
    padding-bottom: 300px;
  }
  .block-borg-blocks-tagline .tagline-section {
    display: inline-block;
    padding: 0 15px;
  }
  .block-borg-blocks-tagline .subtext {
    margin-top: 0;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .block-borg-blocks-tagline {
    padding-bottom: 30px;
  }
  .block-borg-blocks-tagline .block-content {
    background-size: 920px;
    padding-bottom: 400px;
  }
  .block-borg-blocks-tagline a.button {
    font-size: 1.5rem; /* 24px */
  }
  .block-borg-blocks-tagline a.button span.version,
  .block-borg-blocks-tagline .subtext {
    font-size: 1.125rem; /* 18px */
  }
}

