/*******************************************************************************
 * borg-components.css
 *
 * Contains styles for all self-contained components on the backdropcms.org site.
 ******************************************************************************/


/*******************************************************************************
 * Custom tagline block.
 ******************************************************************************/
.block-borg-blocks-tagline {
  text-align: center;
  padding: 30px 0;
}
.block-borg-blocks-tagline h1 {
  margin: 0;
}
.block-borg-blocks-tagline h2 {
  margin: 0 0 .5em 0;
}
.block-borg-blocks-tagline p {
  font-size: 1.66rem;
}
.block-borg-blocks-tagline .tagline-section {
  text-align: left;
  margin: 15px auto;
  max-width: 315px;
}
.block-borg-blocks-tagline a.button {
  font-size: 1.25rem; /* 20px */
  background-color: rgba(255, 255, 255, .3);
  text-transform: none;
  border: 2px solid #000;
  color: #000;
  margin: 10px 5px 5px 0;
}
.block-borg-blocks-tagline a.button:hover {
  background-color: rgba(255, 255, 255, .6);
}
.block-borg-blocks-tagline a.button span.version {
  font-size: 1rem; /* 16px */
}
.block-borg-blocks-tagline .subtext {
  font-size: 1rem; /* 16px */
  margin-top: 0;
  margin-left: 25px;
}
.block-borg-blocks-tagline .subtext a {
  font-weight: 300;
  color: #fff;
  text-decoration: underline;
}
.block-borg-blocks-tagline .subtext a:hover {
  text-decoration: none;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .block-borg-blocks-tagline .subtext {
    text-align: left;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .block-borg-blocks-tagline {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .block-borg-blocks-tagline h2 {
    margin: 0 0 1em 0;
  }
  .block-borg-blocks-tagline .tagline-section {
    display: inline-block;
    padding: 0 15px;
  }
  .block-borg-blocks-tagline .subtext {
    margin-top: 0;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .block-borg-blocks-tagline {
    padding-bottom: 30px;
  }
  .block-borg-blocks-tagline a.button {
    font-size: 1.5rem; /* 24px */
  }
  .block-borg-blocks-tagline a.button span.version,
  .block-borg-blocks-tagline .subtext {
    font-size: 1.125rem; /* 18px */
  }
}

/*******************************************************************************
* Home page blocks: Top Inner Below
*******************************************************************************/

.l-top-inner-below {
}

.l-top-inner-below .block {
  color: #000000;
  padding: 30px 15px;
  margin-bottom: 30px;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .l-top-inner-below .block {
    padding: 30px;
    margin-bottom: 60px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .l-top-inner-below .block {
    padding: 30px 15px;
    margin-bottom: 0;
  }
  body.front .l-top .l-top-inner-below h2 {
    font-size: 1.625rem;
    line-height: 1.33em;
    margin-top: .33em;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .l-top-inner-below .block {
    padding: 30px;
  }
}

/*******************************************************************************
 * Cut corner and border effect.
 ******************************************************************************/

 .l-top-inner-below .l-top-col .block {
   padding-bottom: 65px;
   background-repeat: no-repeat;
   background-image:
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(#5fb5c1, #5fb5c1),
     linear-gradient(to top left, transparent calc(50% - 1.5px), #5fb5c1 calc(50% - 1.5px), #5fb5c1 calc(50% + 1.5px), white calc(50% + 1.5px)),
     linear-gradient(white, white),
     linear-gradient(white, white);
   background-size:
     3px 100%,
     3px 100%,
     100% 3px,
     100% 3px,
     52px 3px,
     3px 52px,
     50px 50px,
     100% 100%,
     100% 100%;
   background-position:
     0% 0%, /* right border */
     100% -50px, /* left border */
     -50px 100%, /* bottom border */
     0% 0%,  /* top border */
     100% calc(100% - 50px), /* icon top border */
     calc(100% - 50px) 100%, /* icon left border */
     100% 100%,
     -50px 100%,
     100% -50px;
 }
 .l-top-inner-below .l-top-col:nth-child(2) .block {
   background-image:
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(#8d76bc, #8d76bc),
     linear-gradient(to top left, transparent calc(50% - 1.5px), #8d76bc calc(50% - 1.5px), #8d76bc calc(50% + 1.5px), white calc(50% + 1.5px)),
     linear-gradient(white, white),
     linear-gradient(white, white);
 }
 .l-top-inner-below .l-top-col:last-child .block {
   background-image:
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(#b74ac1, #b74ac1),
     linear-gradient(to top left, transparent calc(50% - 1.5px), #b74ac1 calc(50% - 1.5px), #b74ac1 calc(50% + 1.5px), white calc(50% + 1.5px)),
     linear-gradient(white, white),
     linear-gradient(white, white);
 }


/*******************************************************************************
 * Profile pages.
 ******************************************************************************/
.view-user-projects {
  margin-top: 20px;
}
.view-user-projects .view-header p {
  font-size: inherit;
  margin-bottom: 10px;
}

.block-block-user-profile-disclaimer {
  border-top: 1px solid #ccc;
  padding: 2em 0 3em;
  width: 100%;
}
