/*******************************************************************************
 * borg-components.css
 *
 * Contains styles for all self-contained components on the backdropcms.org site.
 ******************************************************************************/


/*******************************************************************************
 * Custom tagline block.
 ******************************************************************************/
.block-borg-blocks-tagline {
  text-align: center;
  padding: 30px 0;
}
.block-borg-blocks-tagline h1 {
  margin: 1rem 0;
  font-size: 2.66rem;
  font-weight: normal;
  color: #000;
}
body.front .block-borg-blocks-tagline h2 {
  margin: 0 0 1em 0;
  line-height: 1.125em;
  font-weight: 300;
  color: #000;
}
.block-borg-blocks-tagline p {
  font-size: 1.66rem;
}
.block-borg-blocks-tagline .tagline-section {
  text-align: left;
  margin: 15px auto;
  max-width: 315px;
}
.block-borg-blocks-tagline a.button {
  font-size: 1.25rem; /* 20px */
  background-color: rgba(255, 255, 255, .3);
  text-transform: none;
  border: 2px solid #000;
  margin: 10px 5px 5px 0;
}
.block-borg-blocks-tagline a.button:hover {
  background-color: rgba(255, 255, 255, .6);
}
.block-borg-blocks-tagline a.button span.version {
  font-size: 1rem; /* 16px */
}
.block-borg-blocks-tagline .subtext {
  font-size: 1rem; /* 16px */
  margin-top: 0;
  margin-left: 25px;
}
.block-borg-blocks-tagline .subtext a {
  font-weight: 300;
  color: #fff;
  text-decoration: underline;
}
.block-borg-blocks-tagline .subtext a:hover {
  text-decoration: none;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .block-borg-blocks-tagline .subtext {
    text-align: left;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .block-borg-blocks-tagline {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .block-borg-blocks-tagline h2 {
    margin: 0 0 1em 0;
  }
  .block-borg-blocks-tagline .tagline-section {
    display: inline-block;
    padding: 0 15px;
  }
  .block-borg-blocks-tagline .subtext {
    margin-top: 0;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .block-borg-blocks-tagline {
    padding-bottom: 30px;
  }
  .block-borg-blocks-tagline h1 {
    font-size: 4.25rem;
    margin: 1rem 0 .75rem 0;
  }
  .block-borg-blocks-tagline h2 {
    font-size: 3rem;
  }
  .block-borg-blocks-tagline a.button {
    font-size: 1.5rem; /* 24px */
  }
  .block-borg-blocks-tagline a.button span.version,
  .block-borg-blocks-tagline .subtext {
    font-size: 1.125rem; /* 18px */
  }
}


/*******************************************************************************
* Spacer classes
*******************************************************************************/
.l-space-below {
  margin-bottom: 100px;
}
.l-space-below-2 {
  margin-bottom: 150px;
}
.l-space-below-3 {
  margin-bottom: 200px;
}

/*******************************************************************************
* Home page blocks: Top Inner Below
*******************************************************************************/

.l-cut-cormers {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}
.l-cut-cormers-2 {
  top: -150px;
  margin-bottom: -150px;
}
.l-cut-cormers-3 {
  top: -200px;
  margin-bottom: -200px;
}

.l-cut-cormers .block {
  color: #000000;
  padding: 30px 15px;
}
.l-cut-cormers .block p:last-child {
  margin-bottom: 0;
}
.l-cut-cormers h2.block-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  margin: .5em 0;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  .l-cut-cormers .block {
    padding: 30px;
    margin-bottom: 60px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .l-cut-cormers .block {
    padding: 30px 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .l-cut-cormers .block {
    padding: 30px;
  }
}

/*******************************************************************************
* Cut corner and border effect.
*******************************************************************************/

.l-cut-cormers .l-col {
  margin-bottom: 30px;
}
.l-cut-cormers .l-col .block {
  height: 80%;
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(#5fb5c1, #5fb5c1),
    linear-gradient(to top left, transparent calc(50% - 1.5px), #5fb5c1 calc(50% - 1.5px), #5fb5c1 calc(50% + 1.5px), white calc(50% + 1.5px)),
    linear-gradient(white, white),
    linear-gradient(white, white);
  background-size:
    3px 100%,
    3px 100%,
    100% 3px,
    100% 3px,
    52px 3px,
    3px 52px,
    50px 50px,
    100% 100%,
    100% 100%;
  background-position:
    0% 0%, /* right border */
    100% -50px, /* left border */
    -50px 100%, /* bottom border */
    0% 0%,  /* top border */
    100% calc(100% - 50px), /* icon top border */
    calc(100% - 50px) 100%, /* icon left border */
    100% 100%,
    -50px 100%,
    100% -50px;
}
.l-cut-cormers .l-col:nth-child(2) .block {
  background-image:
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(#8d76bc, #8d76bc),
    linear-gradient(to top left, transparent calc(50% - 1.5px), #8d76bc calc(50% - 1.5px), #8d76bc calc(50% + 1.5px), white calc(50% + 1.5px)),
    linear-gradient(white, white),
    linear-gradient(white, white);
}
.l-cut-cormers .l-col:last-child .block {
  background-image:
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(#b74ac1, #b74ac1),
    linear-gradient(to top left, transparent calc(50% - 1.5px), #b74ac1 calc(50% - 1.5px), #b74ac1 calc(50% + 1.5px), white calc(50% + 1.5px)),
    linear-gradient(white, white),
    linear-gradient(white, white);
}

@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .l-cut-cormers .l-col {
    margin-bottom: 0;
  }
}

/*******************************************************************************
 * Profile pages.
 ******************************************************************************/
.view-user-projects {
  margin-top: 20px;
}
.view-user-projects .view-header p {
  font-size: inherit;
  margin-bottom: 10px;
}

.block-block-user-profile-disclaimer {
  border-top: 1px solid #ccc;
  padding: 2em 0 3em;
  width: 100%;
}
