/*******************************************************************************
 * layout-pages.css
 *
 * Contains page specific overrides of the styles relating to layout. All
 * element classes used as base identifiers in this file should start with .l-
 ******************************************************************************/

/*******************************************************************************
 * News page overrides
 ******************************************************************************/
.layout--double-fixed-inner-rev .l-sidebar-inner h2 {
  font-size: 2.375rem; /* 38px */
  margin: 0 0 .5em 0;
}
@media (min-width: 850px) {
  .layout--double-fixed-inner-rev .l-sidebar-inner .block {
    margin-left: 25px;
    margin-bottom: 25px;
  }
}

/*******************************************************************************
 * Showcase page overrides
 ******************************************************************************/
.showcase .l-top {
  border-bottom: 2px solid #D4D6D6;
  padding-top: 25px;
  padding-bottom: 15px;
}
.showcase .l-wrapper {
  background-color: #F7F7F7;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .showcase .l-top,
  .showcase .l-wrapper  {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .showcase .l-top,
  .showcase .l-wrapper  {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 75em) { /* 1200px @ 16px font size -- XL */
  .showcase .l-top,
  .showcase .l-wrapper  {
    padding-top: 100px;
    padding-bottom: 75px;
  }
}
.showcase .l-top h2 {
  font-weight: 300; /* Light */
  color: #5A5D5E;
}
.showcase .l-footer {
  margin-top: 0;
}

/*******************************************************************************
 * Page title centered
 * - Supporters page
 * - Contact page
 * - Contractors page
 ******************************************************************************/
body.contact .page-title,
body.support-supporters .page-title,
body.support-services-contractors .page-title {
  text-align: center;
}

/*******************************************************************************
 * Bottom region dark gray.
 * - Home page
 * - Resources page
 * - Support page(s)
 *   - Put back Contractors page
 ******************************************************************************/
body.support .l-bottom,
body.support-services .l-bottom,
body.node-1621 .l-bottom {
  margin-top: 100px;
  border-top: 3px solid #E8E6E5;
  background-color: #F7F7F7;
  padding-bottom: 5px;
}
body.front .l-footer,
body.support-services .l-footer,
body.node-1621 .l-footer {
  margin-top: 0;
}

body.support-services-contractors .l-footer {
  margin-top: 100px;
}

