/*******************************************************************************
 * Special, Additional CSS for the double-fixed layout
 ******************************************************************************/

.layout--double-fixed-case .l-wrapper {
  min-height: 450px;
}
.layout--double-fixed-case .l-wrapper-inner {
  padding-top: 30px;
}
@media (min-width: 34em) { /* 544px */
  .layout--double-fixed-case .l-wrapper-inner {
    padding-top: 40px;
  }
}
@media (min-width: 48em) { /*768px */
  .layout--double-fixed-case .l-wrapper-inner {
    padding-top: 50px;
  }
}
@media (min-width: 75em) { /* 1200px */
  .layout--double-fixed-case .l-wrapper-inner {
    padding-top: 60px;
  }
}

/* center the desktop screenshots */
.layout--double-fixed-case .col-sm-12 {
  text-align: center;
}
.layout--double-fixed-case .browser-ui {
  margin: 0 auto;
}

@media (min-width: 34em) { /* 544px */
  .layout--double-fixed-case .row {
    padding: 5px 0;
  }
}
@media (min-width: 48em) { /*768px */
  .layout--double-fixed-case .row {
    padding: 10px 0;
  }
}
@media (min-width: 62em) { /* 992px */
  .layout--double-fixed-case .row {
    padding: 20px 0;
  }
}
@media (min-width: 75em) { /* 1200px */
  .layout--double-fixed-case .row {
    padding: 25px 0;
  }
}
