# Ignore all readmes
*/README.md

# Ignore dev for local
dev-active/*.json
dev-active/.htaccess

# Ingore beta server changes (is this what we want?)
beta-active/*

# Ignore specific config files in staging
*/devel.settings.json
*/stage_file_proxy.settings.json

