/*******************************************************************************
 * components.scss
 *
 * Contains specific styles for common HTML components.
 ******************************************************************************/

.logo {
  display: none;
}
@media all and (min-width: 851px) {
  .logo {
    display: block;
  }
}

.site-name {
  border-top: 2px solid #fff;
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 360%;
  font-weight: 300;
  letter-spacing: -.04em;
}

/*******************************************************************************
 * Admin-bar
 ******************************************************************************/
#admin-bar li {
  /* Undo the margin we add in base.css. */
  margin: 0;
}

/*******************************************************************************
 * Tabs & Sub-tabs.
 ******************************************************************************/
ul.primary {
  border-bottom: 2px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 2px solid #bbb;
  border-bottom: 2px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 2px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 2px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/*******************************************************************************
 * Main menu
 ******************************************************************************/
.block-system-main-menu ul {
  padding: 0;
  width: 100%;
  margin: 0;
}
.block-system-main-menu li {
  list-style-type: none;
  padding: 0 10px 0 15px;
  border-bottom: 2px solid #fff;
  margin: 0;
}
.block-system-main-menu li.first {
  border-top: 2px solid #fff;
}
.block-system-main-menu li a {
  font-weight: 300;
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  position: relative;
  font-size: 24px;
  line-height: 36px;
}
.block-system-main-menu a:hover,
.block-system-main-menu li.active a {
  font-weight: 400;
}
.block-system-main-menu i {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  overflow: hidden;
}
.block-system-main-menu a:hover i,
.block-system-main-menu li.active i,
.block-system-main-menu li.active-trail i {
  color: #27ACE2;
}

/*******************************************************************************
 * Handbook menu
 ******************************************************************************/
.block-borg-blocks-handbook ul.menu li.first.expanded {
  border-top: 0;
  padding: 0 30px;
}

.block-borg-blocks-handbook ul.menu li.expanded {
  border-top: solid 2px #979797;
  padding: 0 30px;
  margin-top: 30px;
}

.block-borg-blocks-handbook ul.menu li.expanded span {
  padding: 30px 0 10px 0;
}
.block-borg-blocks-handbook ul.menu li.expanded span.nolink {
  font-size: 150%;
  letter-spacing: -.05em;
}

.block-borg-blocks-handbook ul.menu li.first.expanded span {
  padding: 0px 0 10px 0;
}

/*******************************************************************************
 * Search block
 ******************************************************************************/
.search-block-form {
  padding: 0px 30px;
  margin: 1em 0;
}
.search-block-form input.form-search {
  width: 100%;
  box-sizing: border-box;
}
.search-block-form .form-actions {
  margin: 10px;
  text-align: center;
}

/*******************************************************************************
 * Search results
 ******************************************************************************/
.search-results .title {
  margin: 0;
  display: inline-block;
}

/*******************************************************************************
 * Book Navigation
 ******************************************************************************/
.book-navigation {
  margin-top: 50px;
}

/*******************************************************************************
 * Front page content
 ******************************************************************************/
body.front .node-page {
  clear: both;
  border-top: 2px solid #969696;
}

/*******************************************************************************
 * Quotes view.
 ******************************************************************************/
#block-views-quotes-block {
  clear: both;
  padding-top: 100px;
}
.view-quotes {
  height: 250px;
  padding: 100px 0;
  background-color: #F7F7F7;
  margin-left: -500px;
  margin-right: -500px;
  padding: 50px 500px;
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
}
.view-quotes img {
  float: left;
  margin-right: 15px;
}
.view-quotes blockquote {
  margin-left: 125px;
  font-size: 125%;
}
.views-field-title {
  clear: left;
}
.view-quotes .subtext {
  margin: 5px 0;
}
.view-quotes .views-field-title {
  margin-top: 5px;
}

/*******************************************************************************
 * Flexslider
 ******************************************************************************/
.flexslider {
  background: transparent;
  border: 0;
}
.flexslider .slides img {
  width: auto;
}
ol.flex-control-paging > li:before {
  content: '';
}

/*******************************************************************************
 * Supporters view. Block.
 ******************************************************************************/
.block-views-supporters-block {
  margin: 100px 0;
}
.block-views-supporters-block h2,
#block-formblock-supporter h2 {
  text-align: center;
  font-weight: normal;
}
.view-supporters {
  text-align: center;
}
.view-supporters .view-content {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  min-height: 150px;
}
.view-supporters .views-row {
  float: left;
  margin: 0 15px;
  width: 80px;
  min-height: 150px;
  font-size: 12px;
}
.view-supporters .views-field-title {
  margin: 0 -10px;
}
.views-field-field-logo a {
  text-align: center;
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.views-field-field-logo img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.views-field-field-logo .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*******************************************************************************
 * Show your support form block.
 ******************************************************************************/
.block-formblock-supporter {
  clear: left;
  margin-top: 50px;
  background-color: #F7F7F7;
  margin-left: -500px;
  margin-right: -500px;
  padding: 50px 500px;
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  text-align: center;
}
.block-formblock-supporter form {
  display: inline-block;
  text-align: left;
}
.block-formblock-supporter label {
  color: #999999;
}
.block-formblock-supporter .description {
  display: none;
}
.block-formblock-supporter .form-item .form-item {
  margin: 0;
}
.block-formblock-supporter .form-actions {
  text-align: center;
}

/*******************************************************************************
 * On The Web social media links block.
 ******************************************************************************/
.block-on-the-web-social-links a i {
  width: 35px;
  height: 35px;
  font-size: 35px;
  line-height: 35px;
  margin: 0 5px;
  color: rgb(151, 151, 151);
}
.block-on-the-web-social-links a:hover i {
  color: #007CBA;
}

/*******************************************************************************
 * Try Backdrop Block
 ******************************************************************************/
.block-block-1 {
  float: left;
  width: 185px;
  margin-right: 25px;
  margin-bottom: 20px;
}

/*******************************************************************************
 * Download Backdrop Block
 ******************************************************************************/
.block-block-2 {
  float: left;
  margin-right: 35px;
  margin-bottom: 20px;
}
.block-block-2 p.subtext {
  text-align: right;
}

/*******************************************************************************
 * Mailchimp Signup Block
 ******************************************************************************/
.block-block-3 {
  font-size: 1.25em;
  margin-bottom: 5px;
}
.block-block-3 #mce-EMAIL {
  margin-right: 5px;
}

/*******************************************************************************
 * Front page tagline.
 ******************************************************************************/
body.front .block-block-4 h2 {
  font-size: 34px;
  line-height: 1.2;
  color: #85898A;
  font-weight: 400;
}

/*******************************************************************************
 * Powered by Backdrop block.
 ******************************************************************************/
.block-system-powered-by {
  font-size: 14px;
  color: #979797;
}
.block-system-powered-by a {
   color: #007cba;
}

/*******************************************************************************
 * Site contact form.
 ******************************************************************************/
.contact-site-form .form-item {
  margin: 12px 0;
}
.contact-site-form label {
  display: inline-block;
  width: 0;
  white-space: nowrap;
  padding-right: 500px;
  margin-right: -300px;
  margin-bottom: 4px;
}
.contact-site-form input.form-text,
.contact-site-form input.form-email {
  width: 20em;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 100%;
}
.contact-site-form select {
  width: 15em;
  max-width: 100%;
}
.contact-site-form textarea {
  height: 16em;
  font-size: 100%;
}
.contact-site-form input.form-submit {
  font-size: 100%;
}

/*******************************************************************************
 * Login form
 ******************************************************************************/
#user-login .form-item {
  padding: 15px 0;
  display: flex;
}
/* Clearfix for .form-item */
#user-login .form-item:after {
  content: "";
  display: table;
  clear: both;
}

#user-login .form-item label {
  width: 90px;
  display: inline-block;
}
#user-login .form-item input {
  width: 100%;
  flex: 1;
}

/*******************************************************************************
 * Password reset form
 ******************************************************************************/
#user-pass .form-item {
  padding: 15px 0;
  display: flex;
}
#user-pass .form-item label {
  padding-right: 15px;
  display: inline-block;
}
#user-pass .form-item input {
  width: 100%;
  flex: 1;
}


/*******************************************************************************
 * Contribute page (/contribute)
 ******************************************************************************/
.donate-right {
  float: right;
  margin-top: -10px;
}
