/*******************************************************************************
 * components-menus.css
 *
 * Contains styles for menu components.
 ******************************************************************************/

/*******************************************************************************
 * Main menu - drop-open position for mobile
 ******************************************************************************/
.block-system-main-menu ul.menu {
  position: absolute;
  width: 275px;
  top: 50px;
  right: 30px;
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .block-system-main-menu ul.menu {
    top: 50px;
    right: 100px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .block-system-main-menu ul.menu {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
  }
}

/*******************************************************************************
 * Borg menus - account
 ******************************************************************************/
.menu-account {
  display: none;
}

.menu-account > ul > li > a,
.menu-account > ul > li > a:hover,
.menu-account > ul > li > a:focus,
.menu-account > ul > li > a:active,
.menu-account > ul > li > a.highlighted {
  padding: 2px;
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
}

/*******************************************************************************
 * Borg menus - demo
 ******************************************************************************/
.menu-demo {
  display: none;
  margin-left: 16px;
}
.menu-demo > ul {
  background-color: transparent;
}
.menu-demo > ul > li > a,
.menu-demo > ul > li > a:hover,
.menu-demo > ul > li > a:focus,
.menu-demo > ul > li > a:active,
.menu-demo > ul > li > a.highlighted {
  padding: 9px 10px 7px 10px;
  color: #ffffff;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #4000CC 0%,
    #4000CC calc(100% - 33px),
    #300099 1px,
    var(--color__accent--primary) 32px);
}
.menu-demo > ul > li > a.active-trail,
.menu-demo > ul > li > a.active,
.menu-demo > ul > li > a:hover,
.menu-demo > ul > li > a:focus,
.menu-demo > ul > li > a:active,
.menu-demo > ul > li > a.highlighted {
  border-bottom: 2px solid transparent;
  background: linear-gradient(
    90deg,
    var(--color__accent--primary--dark) 0%,
    var(--color__accent--primary--dark) calc(100% - 33px),
    #300099 1px,
    var(--color__accent--primary) 32px);
}
.js .menu-demo > ul > li.has-children > a,
.js .menu-demo > ul > li.has-children > a:hover,
.js .menu-demo > ul > li.has-children > a:focus,
.js .menu-demo > ul > li.has-children > a:active,
.js .menu-demo > ul > li.has-children > a.highlighted {
  padding-right: 42px;
}

.menu-demo > ul > li > a > span.sub-arrow {
  color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  right: 13px;
}

.menu-demo ul ul li a {
  color: var(--color__accent--primary);
}
.menu-demo ul ul li a.active-trail,
.menu-demo ul ul li a.active,
.menu-demo ul ul li a:hover,
.menu-demo ul ul li a:focus,
.menu-demo ul ul li a:active,
.menu-demo ul ul li a.highlighted {
  color: #000;
}


/*******************************************************************************
 * Borg menus - all
 ******************************************************************************/
.l-header .block-system-main-menu {
  display: inline-block;
  text-align: right;
}
.borg-header-menu {
  height: 36px;
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .menu-main,
  .menu-demo {
    display: inline-block;
  }
}

@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .l-header .block-system-main-menu {
    text-align: center;
  }
  .borg-header-menu {
    text-align: center;
    margin-top: 16px;
  }
  .menu-demo {
    display: none;
  }
  .l-header .container {
    _background-color: orange;
  }
}

@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .l-header .block-system-main-menu {
    text-align: center;
    margin-top: 7px;
    display: flex;
  }
  .borg-header-menu {
    margin-top: 8px;
  }
  .menu-main,
  .menu-account,
  .menu-demo {
    display: flex;
    align-self: flex-end;
  }
  .menu-main {
    flex: 1;
    justify-content: centre;
    align-items: centre;
  }

  .l-header .container {
    _background-color: yellow;
  }
}

@media (min-width: 75em) { /* 1200px @ 16px font size -- XL */
  .l-header .container {
    _background-color: green;
  }
}

/*******************************************************************************
 * Handbook menu block
 ******************************************************************************/
.block-borg-blocks-handbook ul.menu {
  background-color: #F7F7F7;
  border: 1px solid #444b53;
  padding: 20px;
}
.block-borg-blocks-handbook ul.menu li {
  list-style: none;
  padding: 0px;
}
.block-borg-blocks-handbook ul.menu li.expanded {
  border-top: solid 1px #444b53;
  margin-top: 20px;
  padding-top: 15px;
}
.block-borg-blocks-handbook ul.menu li.first.expanded {
  border-top: 0;
  margin-top: 0px;
  padding-top: 0px;
}
.block-borg-blocks-handbook ul.menu li.expanded span {
  padding: 30px 0 10px 0;
}
.block-borg-blocks-handbook ul.menu li.expanded span.nolink {
  font-size: 1.5rem; /* 24px */
  letter-spacing: -.05em;
}
.block-borg-blocks-handbook ul.menu li.first.expanded span {
  padding: 0px 0 10px 0;
}
.block-borg-blocks-handbook ul.menu ul {
  margin: 0;
  padding: 0;
}

/*******************************************************************************
 * Sidebar Menu
 ******************************************************************************/
.l-sidebar ul.menu a.active {
  font-weight: bold;
}

/*******************************************************************************
 * Footer Menu
 ******************************************************************************/
.l-footer .block-menu,
.l-footer .block-menu-menu-footer-menu {
  width: 100%;
  padding-bottom: 30px;
}
.l-footer .block-menu ul,
.l-footer .block-menu-menu-footer-menu ul {
  margin: 0;
  padding: 0;
}
.l-footer .block-menu li,
.l-footer .block-menu-menu-footer-menu li {
  list-style-type: none;
  margin: 0;
  text-align: center;
}
.l-footer .block-menu li a,
.l-footer .block-menu-menu-footer-menu li a {
  font-size: 1.125em; /* relative size: 18px; */
  display: block;
  padding: .5em 1em;
}
.l-footer .block-menu li a,
.l-footer .block-menu-menu-footer-menu li:last-child a {
  padding-right: 0; /* line-up with col-md-6 block above */
}

@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  .l-footer .block-menu,
  .l-footer .block-menu-menu-footer-menu {
    position: absolute;
    bottom: -58px;
    right: 0;
    width: 75%;
    padding: 0;
    padding-bottom: 0;
    padding-top: 30px;
    text-align: right;
  }
  .l-footer .block-menu ul,
  .l-footer .block-menu-menu-footer-menu ul {
    text-align: right;
  }
  .l-footer .block-menu li,
  .l-footer .block-menu-menu-footer-menu li {
    display: inline-block;
  }
  .l-footer .block-menu li a,
  .l-footer .block-menu-menu-footer-menu li a {
    font-size: 1rem; /* 16px */
    display: inline-block;
    padding: .25em .25em;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .l-footer .block-menu,
  .l-footer .block-menu-menu-footer-menu {
    bottom: -62px; /* adjust with font size */
  }
  .l-footer .block-menu li a,
  .l-footer .block-menu-menu-footer-menu li a {
    font-size: 1.125em; /* relative size: 18px; */
    padding: .5em 1em;
  }
}
@media (min-width: 75em) { /* 1200px @ 16px font size -- XL */
  .l-footer .block-menu-menu-footer-menu {
    right: 30px; /* line-up with col-md-6 block above */
  }
}