/*******************************************************************************
 * layout.scss
 *
 * Contains styles relating to layout. Any adjustment of margins/padding/widths,
 * etc. should be in the layouts/double_fixed/double-fixed.css file!
 ******************************************************************************/
#page-title {
  font-size: 45px;
  letter-spacing: -.04em;
}
@media (min-width: 520px) {
  #page-title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  #page-title {
    margin-top: 75px;
  }
}
body.front #page-title {
  font-size: 400%;
  padding-bottom: 18px;
  border-bottom: 2px solid #969696;
  margin-bottom: 30px;
}


@media all and (min-width: 851px) {
  body {
    padding-left: 230px;
  }

  [dir="rtl"] body {
    padding-left: 0;
    padding-right: 230px;
  }
}


/*******************************************************************************
 * Main content.
 ******************************************************************************/
main {
  position: relative;
}
main:before {
  content: 'Backdrop';
  /* Aspect ratio hack: http://codepen.io/wesruv/full/hindu */
  display: block;
  width: 95%;
  height: 0;
  padding: 23% 0 0;
  margin: 25px auto 0;
  background-image: url('../images/Backdrop-Logo-Horizontal.png');
  background-image: linear-gradient(transparent, transparent), url('../images/Backdrop-Logo-Horizontal.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -9999em;
  overflow: hidden;
  transition: width 0.2s ease-out;
  will-change: width;
}
@media (min-width: 520px) {
  main:before {
    width: 80%;
  }
}
@media (min-width: 851px) {
  main:before {
    display: none;
    content: '';
  }
}

/*******************************************************************************
 * Main content
 ******************************************************************************/
.l-content {
  /* Hide overflow to allow blocks to stretch to 100% width, such as the
     homepage supporter form. */
  overflow: hidden;
}

/*******************************************************************************
 * Sidebar
 ******************************************************************************/
.l-sidebar {
  background-color: #000;
  color: #fff;
  z-index: 2; /* Position above the drawer. */
}
.l-sidebar a {
  color: #fff;
}

/*******************************************************************************
 * Drawer
 ******************************************************************************/
.l-drawer {
  overflow: auto;
  z-index: 1; /* Position below the sidebar. */
  background-color: #F7F7F7;
  color: #000;

  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
@media (min-width: 850px) {
  .l-drawer {
    border-right: 2px solid #979797;
  }
}
.l-container {
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
.drawer-closed .l-drawer {
  left: -2px;
}
.l-drawer span {
  display: block;
  padding: 10px 0;
}
.l-drawer ul.menu {
  padding: 0;
  width: 100%;
}
.l-drawer ul.menu li {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
}
.l-drawer ul.menu li ul.menu {
  margin-top: 0;
}
.l-drawer a {
  position: relative;
  display: block;
}
.l-drawer a i {
  position: absolute;
  bottom: 2px;
  width: 0.39em;
  margin: 0 0 0 10px;
  overflow: hidden;
  display: none;
}
.l-drawer a.active-trail {
  font-weight: 600;
}
.l-drawer a:hover i,
.l-drawer a.active-trail i {
  font-weight: normal;
  display: inline-block;
}

/*******************************************************************************
 * Footer
 ******************************************************************************/
.layout--double-fixed .l-footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.l-footer a {
  color: #979797;
}
.l-footer a:hover {
  color: #007CBA;
}
.l-footer .block {
  padding: 5px;
}
