/*******************************************************************************
 * page-services.css
 *
 * Contains styles only needed for services page.
 *
 * These elements were separated from the compontents.css file because there is
 * a lot of code in here that's not needed for most of the site, so it didn't
 * need to be loaded all the time.
 ******************************************************************************/

body.support-services .l-top {
  background-color: #F7F7F7;
  border-bottom: 2px solid #D4D6D6;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.support-services .l-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  body.support-services .l-top {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 75em) { /* 1200px @ 16px font size -- XL */
  body.support-services .l-top {
    padding-top: 100px;
    padding-bottom: 75px;
  }
}
body.support-services .l-top h2 {
  font-weight: 300; /* Light */
  color: #5A5D5E;
}

body.support-services h1.page-title {
  margin-top: 0;
}

