/*******************************************************************************
 * page-front.css
 *
 * Contains styles only needed for the front page of the site.
 *
 * These elements were separated from the compontents.css file because there is
 * a lot of code in here that's not needed for most of the site, so it didn't
 * need to be loaded all the time.
 ******************************************************************************/

/* all headings should be light or normal weight */
body.front .l-sidebar h2 {
  font-weight: 300;
}

/* hide vertical tabs on home page */
body.front .vertical-tabs {
  display: none;
}

/* left align submit button on home page */
body.front #edit-actions {
  text-align: left;
}

body.front .block-block-books figure,
body.front .backdrop-books figure {
  max-width: 50%;
  display: inline-block;
}

@media (min-width: 25em) { /* 400px @ 16px font size */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    max-width: 47%;
    margin: 0 5px;
  }
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    margin: 0 15px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .block-block-books figure,
  body.front .backdrop-books figure {
    max-width: 200px;
    margin: 0;
  }
  /* force equal-height headings when they are side-by-side. */
  body.front .l-middle-bottom h2.block-title {
    height: 100px;
    font-weight: 300;
  }
}

body.front .l-middle-bottom {
  margin-top: 0;
  border-top: 0;
}

/*******************************************************************************
 * Front page
 ******************************************************************************/
body.front .l-header {
  box-shadow: none;
}
body.front .l-top {
  color: #fff;
  border-bottom: 2px solid transparent;
  border-top: .01px solid #E8E6E5;
  background: linear-gradient(to top right, #00FFA6, #45BEB1, #F317CD);
}

body.front .l-bottom {
  background: #000;
  color: #FFF;
  margin-bottom: 50px;
}

body.front .l-bottom-inner {
  padding: 15px;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .l-bottom-inner {
    padding: 30px;
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .l-bottom-inner {
    padding: 45px;
  }
}

body.front .l-content {
  overflow: visible;
}

body.front .page-title {
  font-size: 400%;
  padding-bottom: 18px;
  margin-bottom: 30px;
}

body.front .node-page h1,
body.front .node-page h2,
body.front .node-page h3 {
  text-align: center;
}
body.front .node-page ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .node-page {
    margin: 0 auto 80px auto;
    text-align: center;
    padding-right: 15px;
  }
}

#why-use-backdrop-cms {
  margin-top: 0;
}

/*******************************************************************************
 * Front page tagline.
 ******************************************************************************/
body.front .l-top h1.page-title {
  font-size: 2.75rem; /* 44px */
  padding: 0;
}
body.front .l-top h2 {
  font-size: 1.625rem; /* 26px */
  line-height: 1.33em; /* */
}

@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  body.front .l-top h1.page-title {
    font-size: 3.75rem; /* 60px */
    font-weight: normal;
  }
  body.front .l-top h2 {
    font-size: 2rem; /* 32px */
  }
}
@media (min-width: 48em) {  /* 768px @ 16px font size  -- MD */
  body.front .l-top h2 {
    font-size: 2.625rem; /* 42px */
  }
}
