/*******************************************************************************
 * style.scss
 *
 * Contains general styles for common HTML patterns.
 ******************************************************************************/

/* make font-awesome heading icons larger and with more space */
h2 i.fa {
  font-size: 125%;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
h4 i.fa {
  font-size: 200%;
  margin-right: 10px;
  position: relative;
  top: 6px;
}

/*******************************************************************************
 * Buttons
 ******************************************************************************/
a.button {
  display: inline-block;
  background-color: white;
  border: 2px solid #007CBA;
  border-radius: 30px;
  height: 50px;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;

  -webkit-transition: background-color .33s;
  -webkit-transition: color .33s;
  -moz-transition: background-color .33s;
  -moz-transition: color .33s;
  -ms-transition: background-color .33s;
  -ms-transition: olor .33s;
  -o-transition: background-color .33s;
  -o-transition: color .33s;
  transition: background-color .33s;
  transition: color .33s;
}
a.button:hover {
  background-color: #007CBA;
  color: white;
}
a.button span {
  display: block;
  position: absolute;
  top: -13px;
  right: -13px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 12px;
  color: #fff;
  background-color: #979797;
  border-radius: 10px;
}

/*******************************************************************************
 * Form buttons
 ******************************************************************************/
.form-actions {
  text-align: right;
}
.form-actions input {
  margin: 0 15px;
}

/*******************************************************************************
 * Subtext
 ******************************************************************************/
.subtext {
  font-size: 80%;
  font-weight: 400;
  color: #969595;
}
