.project-search h1.page-title {
  padding: 0;
}

.view-modules h2 {
  margin-top: 0;
  color: #929597;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 30em) { /* 480px */
  .view-modules h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

.l-top {
  background-color: #F7F7F7;
  border-bottom: 2px solid #D4D6D6;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media (min-width: 34em) { /* 544px @ 16px font size -- SM */
  .l-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 62em) { /* 992px @ 16px font size -- LG */
  .l-top {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 75em) { /* 1200px @ 16px font size -- XL */
  .l-top {
    padding-top: 100px;
    padding-bottom: 75px;
  }
}
.l-top h2 {
  font-weight: 300; /* Light */
  color: #5A5D5E;
}

.views-exposed-widgets {
  width: 100%;
}

#views-exposed-form-modules-modules,
#views-exposed-form-modules-themes,
#views-exposed-form-modules-layouts {
  border: 0;
  padding: 0;
}

.views-exposed-form .views-widget-filter-combine,
.views-exposed-form .views-widget-filter-title,
.views-exposed-form .views-submit-button {
  height: 2em;
  padding: 0;
  float: left;
  font-size: 25px;
  line-height: 1.5;
}

.views-exposed-form .views-widget-filter-combine,
.views-exposed-form .views-widget-filter-title {
  width: calc(100% - 2.3em);
}

.views-exposed-form .views-submit-button {
  width: 2.3em;
}

.views-exposed-form .form-text,
.views-exposed-form .form-submit {
  display: block;
  border: 2px solid #000;
  margin: 0;
  font-size: inherit;
}

.views-exposed-form .form-text:hover,
.views-exposed-form .form-submit:hover {
  border-color: #000;
}

.views-exposed-form .form-text {
  width: 100%;
  height: 2em;
  padding: 0.3em 0 0.3em .6em;
  border-right: 0;
  border-radius: 0;
  font-weight: 300;
}

.views-exposed-form .form-submit {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -9999em;
  border-radius: 0;
  background: #cfde56;
}

.views-exposed-form .form-submit:hover,
.views-exposed-form .form-submit:focus,
.views-exposed-form .form-submit:active {
  background: #c7cc00;
}


/**
 * Mag glass icon
 */
.views-exposed-form .views-submit-button {
  position: relative;
}

.views-exposed-form .views-submit-button:before,
.views-exposed-form .views-submit-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  pointer-events: none;
}

.views-exposed-form .views-submit-button:before {
  width: 0.5em;
  height: 0.5em;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transform: translate(-0.5em, -0.5em);
  -ms-transform: translate(-0.5em, -0.5em);
  transform: translate(-0.5em, -0.5em);
}

.views-exposed-form .views-submit-button:after {
  width: 0.45em;
  height: 3px;
  border-radius: 0 2px 2px 0;
  -webkit-transform: translate(0.05em, 0.18em) rotate(45deg);
  -ms-transform: translate(0.05em, 0.18em) rotate(45deg);
  transform: translate(0.05em, 0.18em) rotate(45deg);
  background: #fff;
}

/**
 * Search results styling
 */
.view-modules .view-content {

}

.project-search--results {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  list-style: none;
}

.project-search--results,
.project-search--results p {
  font-size: 16px;
  line-height: 1.4;
}

.result {
  padding: 28px 0;
  border-bottom: 1px solid #d4d4d6;
}

.last.result {
  border-bottom: 0;
}

.result h3 {
  margin: 0 5px 0 0;
  font-weight: 600;
  font-size: 27px;
}
@media (min-width: 34em) { /* 544px */
  .result h3 {
    display: inline-block;
  }
}

.result h3 a {
  color: #000;
}

.result div.since {
  color: #86898a;
  font-size: 0.9em;
}
@media (min-width: 34em) { /* 544px */
  .result div.since {
    display: inline-block;
  }
}

.result__description {
  margin: 0 0 1em;
  color: #86898a;
}

.result__description p {
  margin: 0.5em 0;
}

.result__info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result__info li {
  margin: 0 5px 0 0;
  display: inline-block;
}
.result__info li.download-link {
  margin: 0;
}

.result__info a {
  color: #00a1d3;
}
.result__info .view-node a {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 20px 0 15px;
  background-color: white;
  border: 2px solid #007cba;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  transition: color 0.33s ease 0s;
  white-space: nowrap;
}

.result__info i.fa-forward {
  font-size: 14px;
  width: 0.42em;
  text-align: right;
  overflow: hidden;
  position: relative;
  top: 1px;
  left: 5px;
}
