<div class="crm-container">
  <div crm-ui-debug="entities"></div>
  <div crm-ui-debug="fields"></div>
  <h1 crm-page-title>{{ts('Gecoders')}}</h1>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('To view more debugging information, edit the URL and include "?angularDebug=1".')}}</p>
    </div>

    <table>
      <th ng-repeat="(fieldIndex, field) in fields">
        {{field.title}}
      </th>
      <tr ng-repeat="(index, entity) in entities">

      <td ng-repeat="(fieldIndex, field) in fields">
        {{entity[fieldIndex]}}
      </td>

      <div>
        <button ng-click="save()">{{ts('Save')}}</button>
      </div>

      </tr>
    </table>

    <table>

    </table>

  </form>

</div>
