/*******************************************************************************
 * Front-end only
 ******************************************************************************/

/* Clearfix for all regions. */
.layout--double-fixed .l-main-wrapper:after,
.layout--double-fixed .l-footer:after,
.layout--double-fixed .l-container:after,
.layout--double-fixed .l-content-top:after,
.layout--double-fixed .l-content:after,
.layout--double-fixed .l-sidebar:after,
.layout--double-fixed .l-drawer:after {
  content: "";
  display: table;
  clear: both;
}

.layout--double-fixed .l-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  text-align: center;
}
.layout--double-fixed .l-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-repeat: no-repeat;
}

main.has-background #page-title {
  margin-top: 50px;
}
@media all and (min-width: 851px) {
  main.has-background #page-title {
    margin-top: 225px;
  }
}


.layout--double-fixed .l-content-wrapper {
  text-align: left;
  max-width: 728px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
  min-height: 90px;
}
@media all and (min-width: 851px) {
  .layout--double-fixed .l-content-wrapper {
    padding: 0 35px;
  }
}

.layout--double-fixed .tabs {
  background-color: #ffffff;
}
.layout--double-fixed .tabs ul.primary {
  margin: 0;
}
.layout--double-fixed .l-inner {
  background-color: #ffffff;
  text-align: center;
}
.layout--double-fixed .l-sidebar-inner {
  width: 220px;
  margin: 0 auto;
  text-align: left;
}
.layout--double-fixed .l-content-inner {
  padding-top: 15px;
  text-align: left;
}

.layout--double-fixed .l-sidebar,
.layout--double-fixed .l-drawer {
  text-align: left;
}


@media all and (min-width: 501px) {
  .l-content-top .l-content-wrapper {
    min-height: 125px;
  }
  .layout--double-fixed .l-sidebar-inner {
    float: left;
    margin: 0;
    width: 200px;
  }
  .layout--double-fixed .l-content-inner {
    margin-left: 215px;
  }
}
@media all and (min-width: 851px) {
  .layout--double-fixed .l-sidebar-inner {
    width: 230px;
  }
  .layout--double-fixed .l-content-inner {
    margin-left: 275px;
  }
}


.layout--double-fixed .l-footer {
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
}

@media all and (min-width: 851px) {
  .layout--double-fixed .l-sidebar,
  .layout--double-fixed .l-drawer {
    display: inline;
    float: right; /* LTR */
    position: relative;
  }
  [dir="rtl"] .layout--double-fixed .l-sidebar,
  [dir="rtl"] .layout--double-fixed .l-drawer {
    float: left;
  }

  /* Two Sidebars */
  .layout-both-sidebars .layout--double-fixed .l-container {
    padding-left: 230px;
  }
  [dir="rtl"] .layout-both-sidebars .layout--double-fixed .l-container {
    padding-left: 0;
    padding-right: 230px;
  }

  /* One Sidebar */
  .layout--double-fixed .l-sidebar {
    width: 230px;
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }
  [dir="rtl"] .layout--double-fixed .l-sidebar {
    right: 0;
  }

  .layout--double-fixed .l-drawer {
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 230px;
    overflow: auto;
  }
  [dir="rtl"] .layout--double-fixed .l-drawer {
    right: 230px;
  }
}

/**
 * @file
 * CSS for the two column layout.
 */

/*******************************************************************************
 * Admin only CSS
 ******************************************************************************/

#layout-edit-main .layout--double-fixed {
  position: relative;
}
#layout-edit-main .layout--double-fixed .l-container {
  padding: 0;
}
#layout-edit-main .layout--double-fixed .l-content {
  position: relative;
  float: right;
  width: 50%;
  padding: 0;
}

#layout-edit-main .layout--double-fixed .l-sidebar {
  position: absolute;
  float: left;
  width: 25%;
  top: 0;
  left: 25%;
}
#layout-edit-main .layout--double-fixed .l-drawer {
  position: absolute;
  float: left;
  width: 25%;
  margin: 0;
  top: 0;
  left: 0;
}

.layout-editor-region {
  padding: 0 10px;
}
