.menu-tree,
.menu-tree li,
.menu-tree ul,
.block-book-navigation ul,
.block-book-navigation li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-book-navigation > .block-content > .menu > li > a {
}

.menu-tree,
.block-book-navigation {
  font-size: 1.125em;
}

.menu-tree,
.menu-tree ul,
.block-book-navigation ul {
  padding: 0 0 0.75em;
}

.menu-tree ul,
.block-book-navigation ul ul {
  padding-left: 1.125em;
}

.menu-tree li,
.block-book-navigation li {
  background: #fff;
}

.menu-tree li.has-children a,
.block-book-navigation li.has-children > a {
  font-weight: 600;
}

.menu-tree li.active:before,
.block-book-navigation ul ul li.active:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.125em;
  display: block;
  width: 0;
  height: 100%;
  border-left: 0.125em solid #007cba;
}

.menu-tree li.active > a,
.block-book-navigation li.active > a {
  font-weight: 600;
}

.menu-tree li.active a,
.block-book-navigation ul ul li.active a {
  font-weight: 400;
}

.menu-tree a,
.block-book-navigation a {
  display: inline-block;
  padding: 0.25em 0;
  text-decoration: none;
}

.menu-tree:before,
.menu-tree ul:before,
.block-book-navigation ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  height: calc(100% - 1em);
  border-left: 0.125em solid #c6cad2;
}
