a.on-the-web {
  display: inline-block;
  text-indent: -9999px;
}

/* Set the background images - small size */
a.otw-sm.otw-twitter {
  background: transparent url(../images/sm/twitter.png) no-repeat top left;
}
a.otw-sm.otw-facebook {
  background: transparent url(../images/sm/facebook.png) no-repeat top left;
}
a.otw-sm.otw-pinterest {
  background: transparent url(../images/sm/pinterest.png) no-repeat top left;
}
a.otw-sm.otw-instagram {
  background: transparent url(../images/sm/instagram.png) no-repeat top left;
}
a.otw-sm.otw-google {
  background: transparent url(../images/sm/google.png) no-repeat top left;
}
a.otw-sm.otw-youtube {
  background: transparent url(../images/sm/youtube.png) no-repeat top left;
}
a.otw-sm.otw-flickr {
  background: transparent url(../images/sm/flickr.png) no-repeat top left;
}
a.otw-sm.otw-myspace {
  background: transparent url(../images/sm/myspace.png) no-repeat top left;
}
a.otw-sm.otw-linkedin {
  background: transparent url(../images/sm/linkedin.png) no-repeat top left;
}
a.otw-sm.otw-itunes {
  background: transparent url(../images/sm/itunes.png) no-repeat top left;
}
a.otw-sm.otw-delicious {
  background: transparent url(../images/sm/delicious.png) no-repeat top left;
}
a.otw-sm.otw-soundcloud {
  background: transparent url(../images/sm/soundcloud.png) no-repeat top left;
}
a.otw-sm.otw-friendfeed {
  background: transparent url(../images/sm/friendfeed.png) no-repeat top left;
}

/* Set the background images - small size */
a.otw-lg.otw-twitter {
  background: transparent url(../images/lg/twitter.png) no-repeat top left;
}
a.otw-lg.otw-facebook {
  background: transparent url(../images/lg/facebook.png) no-repeat top left;
}
a.otw-lg.otw-pinterest {
  background: transparent url(../images/lg/pinterest.png) no-repeat top left;
}
a.otw-lg.otw-instagram {
  background: transparent url(../images/lg/instagram.png) no-repeat top left;
}
a.otw-lg.otw-google {
  background: transparent url(../images/lg/google.png) no-repeat top left;
}
a.otw-lg.otw-youtube {
  background: transparent url(../images/lg/youtube.png) no-repeat top left;
}
a.otw-lg.otw-flickr {
  background: transparent url(../images/lg/flickr.png) no-repeat top left;
}
a.otw-lg.otw-myspace {
  background: transparent url(../images/lg/myspace.png) no-repeat top left;
}
a.otw-lg.otw-linkedin {
  background: transparent url(../images/lg/linkedin.png) no-repeat top left;
}
a.otw-lg.otw-itunes {
  background: transparent url(../images/lg/itunes.png) no-repeat top left;
}
a.otw-lg.otw-delicious {
  background: transparent url(../images/lg/delicious.png) no-repeat top left;
}
a.otw-lg.otw-soundcloud {
  background: transparent url(../images/lg/soundcloud.png) no-repeat top left;
}
a.otw-lg.otw-friendfeed {
  background: transparent url(../images/lg/friendfeed.png) no-repeat top left;
}

/* Set the size */
a.otw-sm {
  width: 32px;
  height: 32px;
}
a.otw-lg {
  width: 64px;
  height: 64px;
}
