#on-the-web-settings-form .form-type-radios,
#on-the-web-settings-form .form-type-checkbox {
  clear: left;
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

#on-the-web-settings-form .form-radios .form-type-radio {
  float: left;
  margin-right: 15px;
}